<section class="insight">
    <div class="container insight__container">
        <h2 class="insight__title heading-h2">Trending news from Coca</h2>
        <p class="insight__descr text-p-mediup">
            we have some new Service to pamper you
        </p>
        <div class="swiper insight__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide inside__slide">
                    <img src="./assets/images/insight-slide-img-1.jpg" alt="Woman typing on laptop and writing on a notebook">
                </div>
                <div class="swiper-slide inside__slide">
                    <img src="./assets/images/insight-slide-img-2.jpg" alt="Woman typing on laptop and writing on a notebook">
                </div>
            </div>
        </div>
    </div>
</section>
